.h1 {
    text-align: center;
    animation: blink 2500ms infinite;
}

.error {
    animation: blink 2500ms infinite;
}

@keyframes blink {
    0% {transform: scale(1.25); color: red;}
    25% {transform: scale(1.15); color: rgba(255,0,0,0.5);}
    50% {transform: scale(1.35); color: red;}
    75% {transform: scale(1.15); color:  rgba(255,0,0,0.5)}
    100% {transform: scale(1.25); color: red;}
}