.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  color: black;
}

.meal:hover {
  text-align: center;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: yellowgreen;
  font-size: 1.5rem;
  text-shadow: 0 0 0.5px black;
}

.mealItemDiv1{
  width: 70%;
}