.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 10rem;
    overflow: auto;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions .button--alt {
    background-color: red;
    color: whitesmoke;
    border: none;
  }

  .actions .button--alt:hover {
    background-color: darkred;
    color: white;
    border: none;
  }
  
  .actions .button {
    background-color: greenyellow;
    color: black;
    border: none;
  }

  .actions button:hover {
    background-color: yellowgreen;
    color: black;
  }

  .emptyCart{
    animation: wiggle 750ms linear infinite alternate-reverse;
  }

  @keyframes wiggle {
    0%   {transform: rotate(15deg);}
    25%  {transform: rotate(-15deg);}
    50%  {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
  }